<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
    <script
      src="https://unpkg.com/htmx.org@2.0.2"
      integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>Hello to the damn todo list...</h1>
    <form
      hx-post="/add-todo/"
      hx-target="#todo-list"
      hx-swap="beforeend"
      hx-on::after-request="this.reset()"
    >
      <label>Add Todo:</label>
      <input type="text" name="todo" />
      <button>Submit</button>
    </form>

    <button>Delete</button>

    <div id="todo-wrapper">
      <ul id="todo-list" style="list-style-type: none">
        {{ range .Todos}} {{block "todos-list-element" .}}
        <li>
          <input type="checkbox" hx-post="/check-todo/:id" /> {{.Id}} -
          {{.Title}}
        </li>
        {{end}} {{end}}
      </ul>
    </div>
  </body>
</html>
